
#main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

#grid {
    width: min(70vw, 70vh);
    height: min(70vw, 70vh);

    background-color: aquamarine;
}